<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.fjnu501.mapper.CustomerMapper">

    <resultMap id="accountInfoMap" type="customer">
        <id column="uid" property="uid"/>
        <result column="email" property="email"/>
        <result column="addr" property="addr"/>
        <result column="telephone" property="telephone"/>
        <result column="identity_number" property="identityNumber"/>
        <result column="u_uid" property="uuid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <select id="getCustomerInfoByUid" parameterType="int" resultMap="accountInfoMap">
        select * from customer where uid = #{uid}
    </select>

    <insert id="registerAccount" parameterType="customer">
        insert into customer values (#{uid}, #{email}, #{addr}, #{telephone}, #{identityNumber}, #{uuid}, #{username}, #{password}, #{realName})
    </insert>
    
    <select id="selectUsername" parameterType="string" resultType="customer">
        select uid from customer where username = #{username}
    </select>
    
    <select id="login" parameterType="customer" resultMap="accountInfoMap">
        select * from customer where username = #{username} and password = #{password}
    </select>

    <select id="findMaxId" resultType="int">
        select max(uid) from customer
    </select>

    <update id="updateInfo" parameterType="customer">
        update customer set email = #{email}, addr = #{addr}, telephone = #{telephone}, real_name = #{realName} where uid = #{uid}
    </update>

    <select id="getUserByUsername" parameterType="string" resultMap="accountInfoMap">
        select * from customer where username = #{username}
    </select>

    <select id="getAllIdentityNumber" resultType="string">
        select identity_number from customer
    </select>

</mapper>